<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="vendor/autoload.php" colors="true">

    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">app/utils</directory>
        </include>
        <report>
            <!--<clover outputFile="tests/_reports/clover.xml"/>
            <crap4j outputFile="tests/_reports/crap4j.xml" threshold="50"/>-->
            <html outputDirectory="tests/_reports/html-coverage" lowUpperBound="50" highLowerBound="75"/>
            <php outputFile="tests/_reports/coverage.php"/>
            <text outputFile="tests/_reports/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <!--<xml outputDirectory="tests/_reports/xml-coverage"/>-->
        </report>
    </coverage>

    <logging>
        <junit outputFile="tests/_reports/junit.xml"/>
        <!--<teamcity outputFile="tests/_reports/teamcity.txt"/>
        <testdoxHtml outputFile="tests/_reports/testdox.html"/>
        <testdoxText outputFile="tests/_reports/testdox.txt"/>
        <testdoxXml outputFile="tests/_reports/testdox.xml"/>
        <text outputFile="tests/_reports/logfile.txt"/>-->
    </logging>

</phpunit>
